
.flow {
    --font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    --font-size: 16px;
    --color: #222;
    --background-color: transparent;

    --input-background-color: transparent;

    --outcome-background-color: #204069;
    --outcome-active-background-color: #285999;

    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: var(--font-size);
    font-family: var(--font-family);
    font-size: var(--font-size);
    line-height: 1.5em;
    color: var(--color);
    background-color: var(--background-color);
}

.flow .container {
    margin-top: var(--font-size);
    margin-bottom: var(--font-size);
}

.flow .form-control {
    display: flex;
    flex-direction: column;
}

.flow .label {
    max-width: calc(var(--font-size) * 35);
    margin-bottom: 4px;
}

.flow .required {
    color: #ce1919;
    margin-left: 4px;
    text-decoration: none;
}

.flow .input {
    max-width: 300px;
    border: 1px solid var(--border-color, currentColor);
    border-radius: 3px;
    padding: 8px 12px;
    font-size: var(--font-size);
    color: var(--color);
    background-color: var(--input-background-color);
}

.flow .outcome {
    border: 1px solid var(--outcome-background-color);
    border-radius: 3px;
    padding: 8px 12px;
    font-size: var(--font-size);
    color: #fbfbfb;
    background-color: var(--outcome-background-color);
    font-weight: bold;
    cursor: pointer;
    transition: background-color linear 200ms;
}

.flow .outcome .loader {
    display: inline-block;
    position: relative;
    width: 0;
    height: 18px;
    opacity: 0;
    transition: width ease-in-out 200ms, opacity ease-in-out 200ms;
}

.flow .outcome .loader::before {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    left: 6px;
    bottom: 0;
    border: 2px solid #fff;
    border-radius: 100%;
    border-top: 2px solid transparent;
    animation: load-animate infinite linear 1s;
}

.flow .outcome.is-loading {
    background-color: var(--outcome-active-background-color);
}

.flow .outcome.is-loading .loader {
    opacity: 1;
    width: 18px;
}

@keyframes load-animate {
    0% { 
        transform: rotate(0deg);
    }
    50% { 
        transform: rotate(180deg);
        /* opacity: .35; */
    }
    100% {
        transform: rotate(360deg);
    }
}